<% layout("/layouts/bolierplate") %>
<body>
    <br>
    <h2>Create New Listing</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="listing[title]" placeholder="enter title" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid title.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" placeholder="enter description" required></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid description.</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="listing[image]">
            
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="listing[price]" placeholder="enter price" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a valid price.</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" name="listing[country]" placeholder="enter country" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a valid country.</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="listing[location]" placeholder="enter location" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid location.</div>
        </div>
        
        <br>
        <button class="btn btn-dark" style="background-color: #fe424d; border: none; margin-bottom: 1rem; ">Create</button>
    </form>
</body>
